body {
	width: 100%;
	background: #414142;
}

#container {
	margin: 0 auto;
	width: 90%;
	overflow: auto;
	background-position: top; 
}

#container data-image-src {

}

#menu {
	background: #ed217c;
	padding: 1em;
}

nav li {
	font-family: "Roboto Mono", sans-serif;
	font-weight: 300;
	display: inline;
	text-decoration: none;
	color: #ffffff;
	letter-spacing: 0;
	font-size: 2vw;
}

a {
	text-decoration: none;
	color: #ffffff;
}

#header {
	width: 100%;
	overflow: auto;
}

.logo {
	display: inline;
	float: left;
	margin: 5em 0 5em 0em;
	font-family: "Roboto Mono", sans-serif;
	font-weight: 400;
}

.logoTop {
/*	font-family: "Roboto Mono", sans-serif;
	font-weight: 400;
*/	font-style: italic;
	font-size: 5.2vw;
	color: #008dc1;
	letter-spacing: .7vw;
}

.logoBottom {
/*	font-family: "Roboto Mono", sans-serif;
	font-weight: 400;
*/	font-style: italic;
	font-size: 9.6vw;
	color: #008dc1;
	letter-spacing: .1em;
}

#robot {
	display: inline;
	float: left;
	max-width: 100%;
	width: 25%;
	margin: 2em 0 0 1em;
}

#pinkPlanet {
	display: inline;
	float: right;
	width: 25%;
	margin: 4em 0 0 0;
}

#whatwedo {
	background: rgba(0, 96, 132, .8);
	width: 100%;
	overflow: auto;
}

.wedo {
	font-family: "Roboto Mono", sans-serif;
	font-weight: 300;
	font-size: 1.5vw;
	color: #ffffff;
	margin: 0 2em 2em 5.5em;
}

#orangePlanet {
	display: inline;
	width: 30%;
	float: right;
}

h3 {
	font-family: "Roboto Mono", sans-serif;
	font-weight: 300;
	font-size: 4vw;
	color: #ffffff;
	text-transform: uppercase;
	margin: 1em 0 .5em 2em;
	padding-top: .5em;
}

#workholder {
	display: flex;
	justify-content: space-between;
	padding: 5% 5%;
}

.workex {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#ourwork p {
	font-family: "Roboto Mono", sans-serif;
	font-weight: 300;
	font-size: 1.5vw;
	color: #ffffff;
}

#ourwork h4 {
	font-family: "Roboto Mono", sans-serif;
	font-weight: 300;
	font-size: 2.5vw;
	color: #ffffff;
	margin-bottom: 8%;
}

#ourwork img {
	border: .2em solid #008dc1;
	border-radius: 90px;
	width: 60%;
	display: inline;
	margin-bottom: 10%;
}

#aboutus {
	background: rgba(0, 96, 132, .8);
	width: 100%;
	overflow: auto;
	padding: 2em 0 0 0;
}

.about {
	font-family: "Roboto Mono", sans-serif;
	font-weight: 300;
	font-size: 1.5vw;
	color: #ffffff;
	padding: 2em 3em 0 24em;
}

#aboutus h3 {
	display: inline;
	margin: 1em 0 0 .3em;
}

#aboutus img {
	width: 40%;
	display: inline;
	float: left;
}

#contact {
	background: url(../images/desktop/radarLandscape.png) no-repeat center bottom;
	background-size: 100%;
	width: 100%;
	height: 600px;
	overflow: auto;
}

#footer {
	background: rgba(0, 96, 132, .8);
	padding: 1em;
}

.copyright {
	float: right;
	font-family: "Roboto Mono", sans-serif;
	font-weight: 300;
	font-size: 2vw;
	color: #ffffff;
	margin-top: -1em;
}

#contact ul {
	font-family: "Roboto Mono", sans-serif;
	font-weight: 300;
	font-size: 2vw;
	color: #ffffff;
	line-height: 4vw;
	margin-left: 4.2em;
	margin-top: 3em;
}

#contact ul label {
  width: 170px;
  font-weight: 400;
  display: inline-block;
}

#contact ul a {
	font-style: italic;
	text-decoration: underline;
}
/*.parallax {
  perspective: 1px;
  height: 20vh;
  overflow-x: hidden;
  overflow-y: auto;
}*/
/*.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}*/